[Unit]
Description=VE.Direct Logger for MPPT 75|15 #3

Wants=carbon-cache.service
After=carbon-cache.service

Wants=dev-vedirect_mppt3.device
After=dev-vedirect_mppt3.device

StartLimitBurst=3
StartLimitInterval=60

[Service]
User=nobody
Group=dialout
Type=simple

TimeoutStartSec=infinity
Restart=always
RestartSec=10
LimitCORE=infinity

ExecStart=/usr/local/bin/velog -i /dev/vedirect_mppt3 -g 127.0.0.1 -d HQ1909TTJRP

[Install]
WantedBy=multi-user.target
